body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
a {
  list-style-type: none;
}
/* header */
.header {
  width: 1158px;
  
}
.header-link,
.header-container,
.header-container-my,
.header-link-address {
  display: flex;
}

.header-title {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding: 24px 76px 24px 156px;
}
.contakt-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link {
  gap: 40px;
  padding: 24px 0;
}
.header-link-address {
  gap: 40px;
  padding: 24px 156px 24px 0;
}

.post-link-header {
  color: #2e2f42;
}
.post-link-header:hover,
.post-link-header:focus {
  color: #404bbf;
}
.contakt-link:hover,
.contakt-link:focus {
  color: #404bbf;
}

.post-link {
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.post-link:hover,
.post-link:active {
  color: #404bbf;
}
.accent {
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.header-container-my {
  justify-content: space-between;
}

/* Maim */
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Hero section */
.title {
  background-color: #2e2f42;
  display: flex;
  width: 1158px;
  
}
.title-container {
  flex-direction: column;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding: 188px 0;
  

}
.post-title {
  color: #fff;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: flex;
  width: 496px;
  
  
}
.button-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-width:169px;
  height: 56px;
padding: 16px 32px;
  
  border-radius: 4px;
}
.button-title:hover,
.button-title:focus {
  color: #404bbf;
  background-color: #404bbf;
}

/* Description */
.container-description-my {
  width: 1158px;

  padding: 120px 0;
}
.container-description {
  display: flex;
  gap: 24px;
  padding-top: auto;
}

.description-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Photo */
.container-photo{
  padding: 120px 156px;
  
}
.photo {
  background-color: #f4f4fd;
  
  width: 1158px;
  
}
.photo-team{
  display: flex;
  gap: 24px;
  justify-content:center;
  padding:72px 156px 120px 156px;
  
}
.photo-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.photo-stile {
  background-color: #ffffff;
  
}
.photo-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.block-image {
  display: block;
}
/* portfolio-photo */
.portfolio-photo{
  
}
.portfolio-photo-product{
  display: flex;
}
/* footer */
.footer {
  background-color: #2e2f42;

}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-title {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.accent-footer {
  color: #f4f4fd;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 156px;
  margin-right: 156px;
}
